.fix-nav{
    position: fixed;
}
#searchbox{
    background-color: white;
    border: 1px solid;
     border-radius: 50px 0px 0px 50px;
    margin: 0px;
    position: relative;
    left: 10px;
}
#searchbtn{
    margin: 0px;
    border-radius: 0px 50px 50px 0px;
    background-color: rgb(235, 235, 235);
    color: black;
}
form{
margin-left: 100px;
width: 600px;
margin-right: 100px;  
height: 40px;
}
#mic{
    margin-left: 15px;
border: 1px solid rgb(255, 255, 255);
border-radius: 20px;
}

.account-detail{
    /* background-color: white; */
    width: 15px;
    border: 1px;
    border-radius: 23px;
    text-align: center;
}
ul{
    margin-left: 2px;
}

#video{
    margin-left: 40px;
}

/* FOR THE SIDE NAV BAR 👇👇👇 */


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    background-color: #464646;
    height: 1px;
    border: none;
}

#firstnavbar{
    /* background-color: #212121; */
    /* position: fixed; */
    /* top: 60px; */
    text-decoration: none;
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars{

    text-decoration: none;
    margin-left: 2rem;
    font-size: 2rem;
    color: #fff;
}

#nav-menu{
    /* position: fixed;
    top: 60px; */
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

}

#nav-menu.active{
    left: 0;
    transition: 350ms;


}

.nav-text{
    display: flex; 
    justify-content: start;
    list-style: none;
    padding: 1rem;
    height: 50px;
}

.nav-text a{
    text-decoration: none;
    color: #212121;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover{
    background-color: rgb(144,144,144,0.219);
}

.nav-menu-items{
    width: 100%;
}

.nav-icon{
    padding-right: 1rem;
    color: #909090;
}
#youtube-logo{
    color: #f90201;
    padding-right: 0.2rem;
}

#navbar-toggle{
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle h4{
    color: #212121;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    
}

#navbar-togggle a{
    text-decoration: none;
}

.fa-bars{
    color: #212121;
}

.nav-section{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* functions keys */
.filter{
    position: fixed;
    left: 250px;
    top: 70px;
    width: calc(100%-250px);
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

}
.filter::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;



}
.filter-options.active{
    color: #fff;
    background-color: #242424;
    border: 1px solid #242424;
    border-radius: 50px;
}

/* video */
.video-container{
    width:calc(100%-250px) ;
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
    /* background-color: #000; */
}

.video{
    min-height: 250px;
    height: auto;

}
.thumbnail{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.content{
    width: 100%;
    height: 100px ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.channel-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.title{
    width: 100%;
    height:40px ;
    overflow: hidden;
    margin-bottom: 1px;
}

.chnl-name{
    font-size: 14px;
    margin:  0;
    color: #979797;
}